<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	
		<!-- user -->
		<mapping class="com.pyramix.domain.user.User"/>
		<mapping class="com.pyramix.domain.user.UserRole"/>
	
		<!-- coa -->
		<mapping class="com.pyramix.domain.coa.Coa_01_AccountType"/>
		<mapping class="com.pyramix.domain.coa.Coa_02_AccountGroup"/>
		<mapping class="com.pyramix.domain.coa.Coa_03_SubAccount01"/>
		<mapping class="com.pyramix.domain.coa.Coa_04_SubAccount02"/>
		<mapping class="com.pyramix.domain.coa.Coa_05_Master"/>

		<!-- voucher -->
		<mapping class="com.pyramix.domain.voucher.VoucherJournal"/>
		<mapping class="com.pyramix.domain.voucher.VoucherJournalDebitCredit"/>
		<mapping class="com.pyramix.domain.voucher.VoucherSerialNumber"/>

		<!-- petty cash -->
		<mapping class="com.pyramix.domain.pettycash.PettyCash"/>
		<mapping class="com.pyramix.domain.pettycash.PettyCashDebitCredit"/>
		
		<!-- credit card -->
		<mapping class="com.pyramix.domain.creditcard.CreditCard"/>
		<mapping class="com.pyramix.domain.creditcard.CreditCardDebitCredit"/>		
		
		<!-- project -->
		<mapping class="com.pyramix.domain.project.Project"/>
		<mapping class="com.pyramix.domain.project.ProjectJournal"/>
		<mapping class="com.pyramix.domain.project.ProjectJournalDebitCredit"/>
		
		<!-- gl -->
		<mapping class="com.pyramix.domain.gl.GeneralLedger"/>
		<mapping class="com.pyramix.domain.gl.Balance"/>
		
		<!-- report -->
		<mapping class="com.pyramix.domain.report.TrialBalance"/>
	</session-factory>
</hibernate-configuration>